NODE_ENV="development"
PORT=5000

DATABASE_URL="postgres://..."

JWT_ACCESS_SECRET="pqa1ZWgrib5pbVBRfaOhsXM21yy..."
JWT_REFRESH_SECRET="fPDMt7Vq2vQgaSBjwGT5rcPT5hh..."
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

BCRYPT_SALT_ROUNDS=12

FRONTEND_URL="http://localhost:3000"

GOOGLE_CLIENT_ID="...apps.googleusercontent.com"

TESTER_ADMIN_NAME="Tester Admin 1"
TESTER_ADMIN_EMAIL="testeradmin@gmail.com"
TESTER_ADMIN_PASSWORD="Tester@admin12345"

TESTER_REVIEWER_NAME="Tester Reviewer 1"
TESTER_REVIEWER_EMAIL="testerreviewer@gmail.com"
TESTER_REVIEWER_PASSWORD="Tester@reviewer12345"

TESTER_CANDIDATE_NAME="Tester Candidate 1"
TESTER_CANDIDATE_EMAIL="testercandidate@gmail.com"
TESTER_CANDIDATE_PASSWORD="Tester@candidate12345"

REDIS_URL="redis://..."

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_SECURE="false"
SMTP_USER="YOUR_GOOGLE_APP_PASSWORD_EMAIL"
SMTP_PASSWORD="YOUR_GOOGLE_APP_PASSWORD"
EMAIL_SENDER="YOUR_GOOGLE_APP_PASSWORD_EMAIL"

STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
STRIPE_RETURN_URL=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=